button {
    background-color: #EE4248;
    color: white;
    height: 53px;
    width: 161px;
    border-radius: 4px;
    padding: 12px 32px 12px 32px;
    margin: 0;
    border: none;
    font-size: larger;
}